.form
  = form_for [@group, @message] do |f|
    .chat-footer__body
      = f.text_field :body, class: 'form__message', placeholder: 'type a message'
      .form__mask
        = f.label :image do
          = f.file_field :image, class:'hidden'
          %i.far.fa-image
      = f.submit 'Send', class: 'form__submit'

