%section.left-container
  .left-container--top
    %h3
      = current_user.name
    .left-container--top--icon
      = link_to new_group_path, method: :get do
        %i.far.fa-edit
      = link_to edit_user_path(current_user), method: :get do
        %i.fas.fa-cog
  %ul
    %li.left-container--other
      - current_user.groups.each do |group|
        = link_to group_messages_path(group) do
          .group__name
            = group.name
          .group__message
            = group.show_last_message

