= render partial:'side'
%section.main-container
  %section.main-container--group
    %h3= @group.name
    %p members:
    - @group.users.each do |member|
      %p= member.name
    = link_to edit_group_path(@group.id), method: :get do
      %h4 Edit
  = render partial: 'message', collection: @messages
  = render partial: 'footer'
